:root {
  color: black;
}

* {
  font-family: "Minecraft", sans-serif;
}

html,
body {
  font-family: "Minecraft", sans-serif;
  overscroll-behavior: none;
  overflow: hidden;
  margin: 0;
}

img {
  image-rendering: pixelated;
}

button {
  font-family: "Minecraft", sans-serif;
}
